// container

// font-family
$pretendard: "Pretendard", sans-serif;

// font-size
$font-size-mobile: 14px;
$font-size-tablet: 16px;
$font-size-pc: 18px;

// font-weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// colors
$mint: #00A791;
$darkmint: #004D5D;
$lightpink: #FF92A2;
$darkpink: #E84660;
$pink: #FE696B;
$lightblue: #5BC3F0;
$blueviolet: #5562FF;

$black: #111;
$darkgray: #666;
$gray: #999;
$lightgray: #e9e9e9;
$white: #fff;

$point-color: $mint;

$color-validation: #FFB82E;
$color-error: #F93232;
$color-success: #439F62;

$border-underline: #ededed;
$border-hover: #e3e3e3;

// width & height
$icon-size-sm: 16px;
$icon-size-l: 24px;