@import "../common/mixins"; // mixin.scss
@import "../common/variables"; // variables.scss

// article
.article-header {
  position: relative;
  border-bottom: 2px solid $black;
  padding: 16px 0;

  .article-title {
    font-size: 1.3em;
    font-weight: 700;
  }

  .writer-info {
    display: flex;
    align-items: center;
    margin-top: 1em;
    gap: 5px;
    color: $darkgray;
  }
  .delete-button {
    font-size: .9rem;
    position: absolute;
    bottom: 12%;
    right: 1%;
  }

}

.article-content {
  padding: 40px 0;
  img {
    width: 100%;
    display: block;
    padding: 1em 0;
  }
}

.underline {
  width: 100%;
  height: 1px;
  background: $border-underline;
  margin: 1em 0;
}
.to-list {
  position: absolute;
  left: 50%;
  translate: -50%;
  margin-top: 20px;
  background-color: $black;
  color: $white;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
}

// comment
.comment {
  h4 {
    font-size: 1.3em;
    font-weight: 700;
    padding-bottom: 20px;
  }

  .comment-list {
    .comment-item {
      position: relative;
      padding: 1em 0;
      border-bottom: 1px solid $border-underline;
      .delete-button {
        font-size: .9rem;
        position: absolute;
        bottom: 5%;
        right: 1%;
      }
    }
  }

  .comment-top {
    display: flex;
    gap: 8px;
    .comment-date {
      color: $darkgray;
    }
  }

  .write-comment {
    margin-top: 40px;
    textarea {
      width: 100%;
      border: 1px solid $lightgray;
      border-radius: 10px;
      padding: 1em;
      resize: none;
      min-height: 130px;
    }

    .register-btn {
      width: 100%;
      height: 40px;
      border-radius: 10px;
      background-color: $point-color;
      color: $white;
    }
  }
}

@include responsive(768px) {
  .comment {
    .write-comment {
      display: flex;
      gap: 10px;

      textarea {
        width: calc(100% - 130px);
      }

      .register-btn {
        width: 130px;
        height: 130px;
      }
    }
  }
}
