@import "../common/mixins"; // mixin.scss
@import "../common/variables"; // variables.scss

// 커뮤니티 SCSS -
.search-box-wrap {
  margin-bottom: 40px;
}
// tab
.tabs {
  display: flex;
  margin-bottom: 40px;
  .tab {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border: 1px solid $border-underline;
    cursor: pointer;
    a {
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      padding: 15px 0;
    }
    & + .tab {
      border-left: none;
    }
    &.active {
      border-color: $point-color;
      color: $point-color;
      box-shadow: 0 0 0 2px $point-color inset;
      font-weight: 500;
      border-left: 1px solid;
    }
  }
}

.tab-content {
  .table {
    display: none;
    &.active {
      display: block;
      border-top: 2px solid $black;
    }
    .table-top {
      display: none;
    }

    > ul {
      li {
        padding: 16px 0;
        border-bottom: 1px solid $border-underline;
      }
    }

    .list-header > p:not(:first-child) {
      padding-top: 5px;
    }

    .list-date,
    .list-user {
      display: inline-block;
      padding-right: 10px;
      color: $darkgray;
    }
  }
}

@include responsive(768px) {
  .tabs {
    margin-bottom: 60px;
  }
}

@include responsive(1024px) {
  .tabs {
    margin-bottom: 80px;
  }

  .tab-content {
    .table {
      .table-top {
        display: block;
        > ul {
          display: flex;
          background: #f8f8f8;
          padding: 16px 0;
          border-bottom: 1px solid $border-underline;
          text-align: center;
        }
      }

      .list-header > p:not(:first-child) {
        padding-top: 0;
      }

      .list-date,
      .list-user {
        padding-right: 0;
        color: $black;
      }
    }

    .list-header {
      display: flex;
      text-align: center;
      .list-title {
        text-align: left;
      }
    }

    .list-num {
      width: 10%;
    }
    .list-title {
      width: 60%;
      &:hover {
        text-decoration: underline;
      }
    }
    .list-date {
      width: 20%;
    }
    .list-user {
      width: 10%;
    }
  }
}

#faq-list {
  .list-header {
    p {
      display: none;
      &.list-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover {
          text-decoration: none;
        }
        &::after {
          content: "";
          display: block;
          width: 1em;
          height: 1em;
          background: url("../../../public/img/common/icon-down-gray.svg") center / 100% no-repeat;
        }
      }
    }
  }

  .list {
    padding: 16px;
    
    &:hover {
      background-color: #f8f8f8;
    }
  }

  .table-top {
    display: none;
  }

  .list-info {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }

  .list.active {
    background: #f8f8f8;
    transition: all 0.3s;
    .list-title {
      font-weight: 600;
    }
    .list-title::after {
      rotate: 180deg;
    }
    .list-info {
      max-height: 200px;
      padding-top: 1em;
    }
  }
}

// pagenation
.pagenate-section {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 1rem;
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 5px;
  }
  button,
  li {
    width: 24px;
    height: 24px;
    display: block;
    text-align: center;
    line-height: 24px;
  }
.active{
  background-color: $point-color;
  border-radius: 5px;
  color: $white;
}
  button {
    background: url("../../../public/img/common/icon-arrow.svg") center no-repeat;
    &.btn-prev {
      transform: rotate(-180deg);
    }
  }
  .write-btn {
    position: absolute;
    right: 0;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkmint;
    color: $white;
  }
}


