// join.scss
@import "../common/mixins"; // mixin.scss
@import "../common/variables"; // variables.scss
/** 회원가입 컨텐츠 css **/

.join-container {
  font-family: 'Pretendard', sans-serif;
  margin: 0px auto;
  margin-bottom: 30px;
  padding: 50px 0px 50px;
  border: none;
  border-radius: 20px;
  width: 100%;
  max-width: 350px;
  display: block;
  height: 70vh;
  .join-wrap {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    .input-wrap {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .input-box {
        max-width: 350px;
        width: 100%;
        border: 1px solid $gray;
        border-radius: 10px;
        padding: 14px 18px;
        height: 50px;
      }
      .password-wrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .toggle-password {
          position: absolute;
          padding-right: 10px;
        }
      }
    }
    .input-box {
      border: 1px solid $gray;
      border-radius: 10px;
      padding: 14px 18px;
      height: 50px;
      width: 100%;
    }
    .validation-wrap {
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      .password-strength {
        display: flex;
        margin-bottom: 5px;
        gap: 5px;
        justify-content: center;
      }
      .bar {
        width: 112px;
        height: 5px;
        background-color: $gray;
        border-radius: 5px;
      }
      .password-checklist {
        li {
          // color: $gray;
          font-size: $font-size-mobile;
        }
      }
    }
    .join-btn {
      width: 100%;
      height: 50px;
      padding: 10px;
      margin-top: 10px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      color: $white;
      background-color: $mint;
      font-weight: 600;
      font-size: $font-size-pc;
    }
    .join-btn:disabled{
      background-color: $gray;
      cursor:default
    }
  }
}

@include responsive(1024px) {
  .join-container {
    // border: 1px solid #e9e9e9;
    padding: 70px 140px 100px;
    display: flex;
    justify-content: center;
    max-width: 1300px;
  }
}

.errorMessageWrap{
  color: red;
}

.valid {
  color: green;
  font-weight: bold;
}

.password-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .toggle-password {
    position: absolute;
    padding-right: 10px;
  }
}