@import "../common/mixins"; // mixin.scss
@import "../common/variables"; // variables.scss

.monthly-recommend {
  max-width: 1290px;
  margin: 0 auto;
  overflow: hidden;

  .book-swiper {
    .swiper-slide {
      scale: 0.7;
      opacity: 0.5;
      border-radius: 10px 20px 20px 10px;
      overflow: hidden;
      transition: scale 0.3s;
      aspect-ratio: 280 / 360;
      user-select: none;
      box-shadow: 0 8px 16px 0px rgba(171, 190, 209, 0.7);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
    .swiper-slide-active {
      scale: 1;
      opacity: 1;
    }
  }
}

.book-info-box {
  padding: 40px 0 0;
  .tit {
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }
  .sub-tit {
    margin: 30px 0 10px ;
    font-size: 20px;
    color: #00a791;
    font-weight: 700;
  }
}



// 미디어쿼리 - pc
@include responsive(768px) {
  .book-info-box {
    margin-top: 60px;
    border: 1px solid $lightgray;
    border-radius: 30px;
    padding: 60px;
    box-shadow: 0 8px 16px 0px rgba(171, 190, 209, 0.2);
    .tit {
      font-size: 42px;
      text-align: left;
      padding-top: 0;
    }
  }
}
