// post
@import "../common/mixins"; // mixin.scss
@import "../common/variables"; // variables.scss


.write-board {
    border-top: 2px solid $black;
    padding: 30px;
  
    .btn-wrap {
      justify-content: center;
    }
  }
  
  .write-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    
    input {
      border: 1px solid $lightgray;
      border-radius: 10px;
      padding: 10px;
      width: 100%;
    }
  
    .text-content {
      height: 300px;
      input {
        height: 100%;
        resize: none;
      }
    }
  
    .submit-btn {
      width: 130px;
      height: 40px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $darkmint;
      color: $white;
    }
  
    .close-btn {
      width: 130px;
      height: 40px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $darkgray;
      color: $white;
    }
  }
  